<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h3>Listado de productos</h3>

    <ul>
        <% data.forEach((user)=>{ %>
            <li><p>

                <%= user.title %>
            </p>
            </li>
            <li><p>

                <%= user.precio %>
            </p>
            </li>
            <li><p>

                <%= user.thumbnail %>
            </p>
            </li>
            
        <% }); %>
    </ul>

    <form action="/">
        <input type="submit">
    </form>
</body>

</html>